
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body,
html {
	width: 100%;
	min-height: 100%;
	background-color: #1e1f1c;
	color: #e8e8e8;
}
.navbar {
	display: flex;
	padding: 1rem;
  justify-content: space-between;
  box-shadow: 1px 1px 8px;
}

.logo {
	font-size: 3rem;
	font-weight: 700;
}

nav{
  gap: 1rem;
  display: flex;
  /* width: 400px; */
  justify-content: center;
  align-items: center;

}

a{
  color: white;
  text-decoration: none;
  opacity: .6;
}
a:hover{
  opacity: 1;
}